* {
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
// Bassic CSS
body {
  padding: 1rem;
  color: #fff;
  background: rgb(56, 55, 55);
  overflow-x: hidden;
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px silid rgb(65, 64, 64);
}
#header-top {
  .header-text {
    font-size: 20px;
    display: block;
    text-align: right;
  }
}
#banner-text {
  .banner-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
  }
  .qusn-mark {
    text-align: center;
    font-size: 7rem;
  }
}
#inpit-box {
  padding: 2rem 0;
  text-align: center;
  .number-input-box {
    width: 6rem;
    text-align: left;
    height: 3rem;
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding: 4px;
    font-weight: bold;
    border: 2px solid rgb(112, 111, 111);
  }
  .input-text {
    text-align: right;
    margin-left: 8rem;
  }
}
#input-button {
  text-align: center;
  .input-btn {
    margin-right: 8rem;
  }
}
