* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(255, 91, 31);
}

.navbrand a {
  color: #222;
  font-size: 20px;
  letter-spacing: 5px;
  transition: all 0.5s linear;
}

nav .container .nav-link {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 20%;
}

.nav-link a {
  color: #222;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
}

.toggle div {
  width: 16px;
  height: 2px;
  background-color: #222;
  margin: 2px;
  cursor: pointer;
  transition: all 0.5s linear;
}
.toggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  nav .container .nav-link {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .toggle {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .nav-link {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 92vh;
    background-color: rgb(255, 91, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 40% !important;
    transform: translateX(100%);
    transition: all 0.5s linear;
  }
  .nav-link li {
    opacity: 0;
  }

  .pagol .items1 {
    transform: rotate(-45deg) translate(-5px, 0px);
    background-color: #fff;
  }
  .pagol .items2 {
    opacity: 0;
  }
  .pagol .items3 {
    transform: rotate(45deg) translate(-5px, -0px);
    background-color: #fff;
  }
}
.nav-active {
  transform: translateX(0);
}

@keyframes navAnimi {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
  75% {
    transform: rotate(-45deg);
    background-color: orangered;
    border-radius: 15px;
  }
  100% {
    opacity: 1;
    transform: translateX(10px);
  }
}
