body {
  padding: 0;
  background-color: aqua;
  outline: 0;
  height: 80vh;
  overflow-x: hidden;
  text-align: center;
  margin: 0;
}
div {
  background: rgb(236, 114, 0);
  h1 {
    text-transform: capitalize;
    
  }
  h5 {
    color: azure;
  }
}
